*.py~
*.pyc
*.egg-info
*.egg
.eggs
*.swp
.local
.coverage*
.tox
.python-version
build
dist
*.log
AUTHORS
ChangeLog
coverage.xml
flake8.report
junit*.xml
doc/build
.cache

# venv
bin
inlude
lib
lib64
pip-selfcheck.json
.pytest_cache
include
