sudo: required
services:
  - docker
env:
  matrix:
    - TOXENV=py27,ansible1,py35
    - TOXENV=flake8
    - TOXENV=pylint
    - TOXENV=sphinxdoc
language: python
python: 3.5
install:
  - pip install tox
script:
  - tox -e $TOXENV
