---
name: release

on:
  release:
    types: [published]

jobs:
  pypi:
    name: Publish to PyPI registry
    environment:
      name: pypi
      url: https://pypi.org/p/pytest-testinfra
    runs-on: ubuntu-22.04
    permissions:
      id-token: write
    env:
      FORCE_COLOR: 1
      PY_COLORS: 1
    steps:
    - uses: actions/checkout@v5
    - name: Switch to using Python 3.11 by default
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox
    - name: Build dists
      run: |
        tox -e packaging
    - name: Publish to pypi.org
      uses: pypa/gh-action-pypi-publish@release/v1
